<head>
    <title>HTML Login Form</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
       <div class="main">
        <h1>Вход</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
          {{ form.csrf_token }}

        {{ form.phone(type="text", placeholder="Номер телефона") }}
          {% for error in form.phone.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

        {{ form.password(type="password", placeholder="Пароль") }}
          {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}

            {{ form.remember_me(class="form-check-input", type="checkbox", value="", id="flexCheckDefault",
                                style="width: 1em; margin-bottom: 0rem; height: 15px;") }}
         <!-- <a href="#">Forgot password?</a> -->
          <br>{{ message }}
        {{ form.submit(type="submit", class="button", value="Войти") }}
    </form>
    </div>
</body>
