<head>
    <title>Вход в аккаунт</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
       <div class="main">
        <h1>Вход</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}

        <label>
            Телефон:
        </label>
        {{ form.phone(type="text", placeholder="+7...") }}
          {% for error in form.phone.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        <label>
            Пароль:
        </label>
        {{ form.password(type="password", placeholder="") }}
          {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}

            <div class="form-check">
                {{ form.remember_me(class="form-check-input", type="checkbox", value="", id="flexCheckDefault") }}
                <label class="form-check-label" for="flexCheckDefault">
                    Запомнить меня
                </label>
            </div>
        {{ form.submit(type="submit", class="btn btn-success", value="Войти") }}
    </form>
    </div>
</body>
