<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="ru">
<head>
    <title>HTML Register Form</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
       <div class="main">
        <h3>Введите данные работника</h3>

            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <label>
                    ФИО:
                </label>
                {{ form.name(class_="form-control") }}
                {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}

                <label>
                    Телефон:
                </label>
                {{ form.phone(type="text", placeholder="Номер телефона (+7...)") }}
                {% for error in form.phone.errors %}
                    {{ error }}
                 {% endfor %}

                <label>
                    Пароль:
                </label>
                 {{ form.password(type="password", placeholder="Пароль") }}
                {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}

                <label>
                    Повторите пароль:
                </label>
                {{ form.password_again(type="password", placeholder="Повторите Пароль") }}
                {% for error in form.password_again.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}

                <div class="wrap">
                    {{ form.submit(type="submit", class="button", value="Создать аккаунт") }}
                </div>
            </form>
    </div>
</body>
